<!-- templates/main.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rebecca&Georg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='herzG.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
    <script defer data-domain="gigiriri.eu" src="https://plausible.io/js/script.js"></script>
</head>
<body>
    <!-- Herz-Cursor & Musik -->
    <!--<script src="{{ url_for('static', filename='cursor.js') }}"></script>-->
    <audio id="hochzeitsmusik" autoplay loop hidden>
      <source src="{{ url_for('static', filename='Musik.mp3') }}" type="audio/mpeg">
    </audio>
    <!--Bisous-->
    <div class="bisous-top"><strong>BISOUS</strong></div>
    <!--Hero GIF-->
    <div class="hero">
        <img src="{{ url_for('static', filename='RuG.gif') }}" alt="Top Bild">
    </div>
    <!-- Begrüßung -->
    <div class="section">
        <h1>PLEASE COME CELEBRATE LOVE WITH US.</h1>
        <p>EINLADUNG</p>
        <p>12.07.2025 &nbsp;&nbsp; 17:00 UHR</p>
        <p>EMPFANG UND DINNER AUF DEM EMBER ROOFTOP</p>
    </div>
    <!-- RSVP -->
    <div class="section">
        <a href="{{ url_for('antwort') }}" class="rsvp-button">💌RSVP HERE💌</a>
        <hr style="border: 1px solid black; clear: both; z-index: 9999; position: relative;">
    </div>
    <!-- Trauzeugen -->
    <div class="section">
        <p>TRAUZEUGEN:</p>
        <div class="names">
            <li>Georg Richthofen</li>
            <li>Hannah Weidner</li>
            <li>Jakob Richter</li>
            <li>Lucia Bunnemann</li>
            <li>Mareike Martin</li>
            <li>Martin Meuter</li>
        </div>
    </div>
    <!-- Geschenke -->

    <div class="section">
        <hr style="border: 1px solid black; clear: both; z-index: 9999; position: relative;">
        <br><br><strong>GESCHENKE</strong>
        <p>Für uns ist es das größte Geschenk, mit Dir zu feiern.<br>Wenn Du uns darüber hinaus etwas schenken möchtest, freuen wir uns über:</p>
        <p><a href="{{ url_for('reise') }}">🍘Zur Reise🍘</a></p>
        <p><a href="https://www.wishbob.com/lxqszhibwv">🦢Zur Liste🦢</a></p>
    </div>
    <br>
    <div class="section">
        <p><a href="https://maps.app.goo.gl/FDxKauVALpbh4fb48">EMBER OFC, Wienerstraße 10, Hinterhof 6. Stock, 10999 Berlin, Germany</a></p>
    </div>



  <button id="musik-toggle" onclick="toggleMusik()">🔊</button>
  <div class="logout-bttn"><a href="{{ url_for('logout') }}">Logout</a></div>
  <script>
      // Musik ein-/ausschalten
      const audio = document.getElementById("hochzeitsmusik");
      const btn = document.getElementById("musik-toggle");
  
      function toggleMusik() {
          if (audio.paused) {
              audio.play();
              btn.textContent = "🔊";
          } else {
              audio.pause();
              btn.textContent = "🔇";
          }
      }
  </script>
  


</body>
</html>
