<!-- templates/main.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rebecca&Georg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='herzG.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
    <script defer data-domain="gigiriri.eu" src="https://plausible.io/js/script.js"></script>
</head>
<body>
    <!-- Herz-Cursor & Musik -->
    <!--<script src="{{ url_for('static', filename='cursor.js') }}"></script>-->
    <audio id="hochzeitsmusik" autoplay loop hidden>
      <source src="{{ url_for('static', filename='Musik.mp3') }}" type="audio/mpeg">
  </audio>
  <!--Bisous-->
  <div class="bisous-top"><strong>BISOUS</strong></div>
  <!--Hero GIF-->
  <div class="hero">
      <img src="{{ url_for('static', filename='GIF.gif') }}" alt="Top Bild">
  </div>

    <!-- Ablauf -->
    <div class="section-mrb">
      <br><br><h1>WIR FREUEN UNS RIESIG AUF DICH!</h1><br>
      <h2>AGENDA</h2>
      <strong>23.05.2025</strong> <br>
      <p>12:00 UHR<br>
      🤍STANDESAMTLICHE TRAUUNG🤍<br>
      SCHLOSSPLATZ 12, 88709 MEERSBURG <br>RAUM SCHÖNBORN<br><br>
      13:30 UHR<br>
      EMPFANG & MITTAGESSEN<br>
      GUTSSCHÄNKE MEERSBURG<br>
      SEMINARSTRASSE 4<br><br>
      AB 16:00 UHR <br>🤍SOIRÉE🤍<br> VILLA AM SEE<br>
      UNTERUHLDINGER STR. 45, 88709 MEERSBURG<br><br>
      DRESSCODE: CHIC - NICHT FORMELL</p>
    <hr style="border-color: rgb(0, 0, 0);">
    <br><strong>24.05.2025 (OPTIONAL)</strong><br>
      <p>14:00 UHR <br>
      BODENSEERUNDFAHRT ODER MUSEUMSBESUCH TBC.<br><br>
      18:00 UHR<br>
      GEMEINSAMES ABENDESSEN (DETAILS BEI ANKUNFT)</p>
    <!-- </div> -->
    <!-- Geschenke -->
    <!-- <div class="section-mrb"> --> 
      <hr style="border: 1px solid black; clear: both; z-index: 9999; position: relative;">
      <br><br><strong>GESCHENKE</strong>
      <p>Für uns ist es das größte Geschenk, mit Dir zu feiern.<br>Wenn Du uns darüber hinaus etwas schenken möchtest, freuen wir uns über:</p>
      <p><a href="{{ url_for('reise') }}">🍘Zur Reise🍘</a></p>
      <p><a href="https://www.wishbob.com/lxqszhibwv">🦢Zur Liste🦢</a></p>
    </div>

  <button id="musik-toggle" onclick="toggleMusik()">🔊</button>
  <div class="logout-bttn"><a href="{{ url_for('logout') }}">Logout</a></div>
  <script>
      // Musik ein-/ausschalten
      const audio = document.getElementById("hochzeitsmusik");
      const btn = document.getElementById("musik-toggle");
  
      function toggleMusik() {
          if (audio.paused) {
              audio.play();
              btn.textContent = "🔊";
          } else {
              audio.pause();
              btn.textContent = "🔇";
          }
      }
  </script>
  
  <script>
    function toggleMap(mapId) {
      const map = document.getElementById(mapId);
      const wrapper = document.getElementById(mapId + "-wrapper");
  
      map.classList.toggle("collapsed");
      wrapper.classList.toggle("active");
    }
  </script>

</body>
</html>
