<!-- templates/main.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rebecca&Georg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='herzG.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
    <script defer data-domain="gigiriri.eu" src="https://plausible.io/js/script.js"></script>
</head>
<body>
    <!-- Herz-Cursor & Musik -->
    <!--<script src="{{ url_for('static', filename='cursor.js') }}"></script>-->
    <audio id="hochzeitsmusik" autoplay loop hidden>
      <source src="{{ url_for('static', filename='Musik.mp3') }}" type="audio/mpeg">
  </audio>
  <!--Bisous-->
  <div class="bisous-top"><strong>HOCHZEITSREISE</strong></div>
  <!--Hero GIF-->
  <div class="hero-sm">
      <img src="{{ url_for('static', filename='kawai.jpg') }}" alt="Top Bild">
  </div>

<div class="section">
    <p>Rebecca und Georg lost in translation in Japan🎌. Wenn Ihr uns für unsere Hochzeitsreise eine Freude machen möchtet, gebt und gerne eine Runde Sashimi aus :)  <br><br> Rebecca Ivancevic und Georg von Gruben<br>DKB<br>IBAN: DE 6112 0300 0012 0140 7473<br>BIC: BYLADEM1001</p><br>
    <p>Vielen Dank!<br>(˶˃ ᵕ ˂˶)</p>
</div>


  <button id="musik-toggle" onclick="toggleMusik()">🔊</button>

  <div class="logout-bttn"><a href="{{ url_for('logout') }}">Logout</a></div>
  <script>
      // Musik ein-/ausschalten
      const audio = document.getElementById("hochzeitsmusik");
      const btn = document.getElementById("musik-toggle");
  
      function toggleMusik() {
          if (audio.paused) {
              audio.play();
              btn.textContent = "🔊";
          } else {
              audio.pause();
              btn.textContent = "🔇";
          }
      }
  </script>
  


</body>
</html>
