<!-- templates/main.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rebecca&Georg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='herzG.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />
    <script defer data-domain="gigiriri.eu" src="https://plausible.io/js/script.js"></script> 
</head>
<body>
    <!-- Herz-Cursor & Musik -->
    <!--<script src="{{ url_for('static', filename='cursor.js') }}"></script>-->
    <audio id="hochzeitsmusik" autoplay loop hidden>
        <source src="{{ url_for('static', filename='Musik.mp3') }}" type="audio/mpeg">
    </audio>
    <!--Bisous-->
    <div class="bisous-top"><strong>BISOUS</strong></div>
    <!--Hero GIF-->
    <div class="hero">
        <img src="{{ url_for('static', filename='RuG.png') }}" alt="Top Bild">
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                <br>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('antwort') }}" class="rsvp-form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required autocomplete="name">
        </div>
    
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" required autocomplete="email">
        </div>
    
        <div class="form-group">
            <label>KOMMST DU?</label>
            <div class="button-toggle-group centered-toggle">
                <input type="radio" id="zusage-ja" name="zusage" value="Ja" required>
                <label for="zusage-ja">Ja</label>
                <input type="radio" id="zusage-nein" name="zusage" value="Nein">
                <label for="zusage-nein">Nein</label>
            </div>
        </div>
        <div class="form-group">
            <label>FOOD</label>
            <div class="button-toggle-group centered-toggle">
                <input type="radio" id="essen-veg" name="essen" value="Veg" required>
                <label for="essen-veg">VEG</label>
                <input type="radio" id="essen-all" name="essen" value="All">
                <label for="essen-all">ALL</label>
            </div>
        </div>
        <div class="form-group">
            <label>MIT PARTNER/IN?</label>
            <div class="button-toggle-group centered-toggle">
                <input type="radio" id="partner-ja" name="zusage-p" value="Ja" required>
                <label for="partner-ja">Ja</label>
                <input type="radio" id="partner-nein" name="zusage-p" value="Nein">
                <label for="partner-nein">Nein</label>
            </div>
        </div>
        <div class="form-group">
            <label for="nachricht">PARTNER/IN</label>
            <textarea name="name_p" id="name_p" rows="1"></textarea>
        </div>

        <div class="form-group">
            <label>FOOD</label> <!--Essen Partner/in-->
            <div class="button-toggle-group centered-toggle">
                <input type="radio" id="essen-veg-p" name="essen-p" value="Veg">
                <label for="essen-veg-p">VEG</label>
                <input type="radio" id="essen-all-p" name="essen-p" value="All">
                <label for="essen-all-p">ALL</label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="nachricht">💌 LOVE MESSAGES 💌</label>
            <textarea name="nachricht" id="nachricht" rows="4"></textarea>
        </div>
    
        <button type="submit" class="submit-button">SEND</button>
    </form>
    <a href="{{ url_for('main') }}">Zurück</a>
    <button id="musik-toggle" onclick="toggleMusik()">🔊</button>
    <script>
        // Musik ein-/ausschalten
        const audio = document.getElementById("hochzeitsmusik");
        const btn = document.getElementById("musik-toggle");
    
        function toggleMusik() {
            if (audio.paused) {
                audio.play();
                btn.textContent = "🔊";
            } else {
                audio.pause();
                btn.textContent = "🔇";
            }
        }
    </script>
     
</body>
</html>
